[Desktop Entry]
Type=Application
Name=Nextcloud
Exec=/bin/bash -c "systemctl --user is-active container-nextcloud.service && systemctl --user stop container-nextcloud.service || (systemctl --user start container-nextcloud.service && xdg-open http://localhost:8080/)"
Terminal=false
Icon=nextcloud-logo.png
